.Loader {
  display: inline-block;
  width: 150px;
  height: 150px;
}
.Loader:after {
  content: " ";
  display: block;
  width: 150px;
  height: 150px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid rgb(252, 131, 115);
  border-color: rgb(252, 131, 115) transparent rgb(252, 131, 115) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
